services:
  streamlit:
    build: .
    container_name: streamlit_app
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    command: streamlit run home.py --server.port=8501 --server.address=0.0.0.0
    restart: unless-stopped
